/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
.body {
  position: relative;
  color: white;
  height: 95vh;
  width: 100vw;
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  margin: 5rem;
  align-items: center;
  margin: 0;

  background-image: url('../../assets/resized.gif');
}

.responsive-gif {
  max-width: 100vw;
  height: auto;
  margin: 0 auto;
  z-index: 9999;
}

.cards {
  display: flex;
  align-items: center;
  gap: 1rem;
}



